/* ---------------------------------------
------------------------------------------------------
Shared Nav / footer---------------------------
------------------------------------------------------
---------------------------------------*/
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color: #ccd5ae;
  font-family: "Poppins", sans-serif;
}

.logo {
  color: rgb(224, 224, 224);
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 20px;
  width: 60%;
  height: 60%;
}

.logoTop {
  height: 50%;
  width: 60%;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  width: 40%;
  z-index: 20;
  background-color: #ccd5ae;
}

.nav-links li {
  list-style: none;
  background-color: #ccd5ae;
}

.nav-links a {
  color: black;
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 14px;
  background-color: #ccd5ae;
}

.burger {
  display: none;
  cursor: pointer;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: rgb(224, 224, 224);
  margin: 5px;
  transition: all 0.3 ease;
}

/* -----------------------------------------
  -----------------------------------------
  NAV Functionality-----------
  -----------------------------------------
  -----------------------------------------*/
@media screen and (max-width: 900px) {
  body {
    overflow-x: hidden;
  }

  .nav-links {
    position: absolute;
    right: 0;
    height: 300px;
    top: 8vh;
    /* background-color: #ffffff; */
    background-color: #ccd5ae;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }

  .nav-links li {
    opacity: 0;
  }

  .burger {
    display: block;
  }
}

.nav-active {
  transform: translateX(0%);
}
@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

/* ------------------------------------------
  -----------------------------------------
  End Nav-------------------------------------
  -----------------------------------------
  -----------------------------------------*/
/* 
  Footer
  */
.mainFooter {
  background-color: #eeeff4;
  height: 400px;
  margin-top: 30%;
  display: grid;
  grid-template-columns: 25% 50% 25%;
  grid-template-rows: 25% 50% 25%;
}
.footerLogo-Div {
  margin-top: -55%;
  margin-left: 20%;
  grid-column: 2/3;
  grid-row: 1/2;
  align-self: center;
  width: 35%;
  height: 35%;
  background-color: black;
  /* display: flex;
    align-content: center; */
}
.logoFooter {
  width: 75%;
  height: 75%;
  background-color: black;
  color: white;
  padding: 40%;
  grid-column: 2/3;
  grid-row: 1/2;
  margin: auto;
  align-self: center;
}
.footerLinks {
  grid-row: 2/3;
  grid-column: 2/3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin-right: 20%;
  text-emphasis: none;
  list-style: none;
  margin-top: -10%;
}

/* -------------------------------
End Footer-----------------------------
----------------------------------------*/

/* 
Org -> dev
*/

.home-topQuestion {
  background-color: #ccd5ae;
  display: grid;
  grid-template-rows: 50% 50%;
  grid-template-columns: 50% 50%;
  width: 95%;
  margin: auto;
}
.home-topQH2 {
  color: #faedcd;
  grid-row: 1/2;
  grid-column: 1/3;
  text-align: center;
  padding-bottom: 5%;
}
.topQBtns {
  background-color: #fefae0;
  grid-row: 2/3;
  height: 70%;
  width: 60%;
  border-radius: 20px;
}
.home-topQBtn1 {
  grid-column: 1/2;
  margin-left: 35%;
}
.home-2 {
  grid-column: 2/3;
  margin-left: 5%;
}
.home-OrgTop {
  display: grid;
  grid-template-rows: 50% 50%;
  height: 50vh;
  width: 95%;
  margin: auto;
}
.home-OrgTopImg {
  grid-row: 1/2;
  background-image: url(/assets/home/mobile/smiling\ woman.jpg);
  background-size: 100% 100%;
}
.home-OrgTopCTA {
  grid-row: 2/3;
  background-color: #fefae0;
}
.home-OrgTopCTAWU {
  padding: 0% 10% 10% 10%;
}
.home-OrgTopCTAH1 {
  font-size: 1.5rem;
}
.home-OrgTopBtn {
  align-self: center;
  width: 95%;
  height: 40px;
  border-radius: 20px;
}
.home-about {
  display: grid;
  grid-template-rows: 300px 100px 300px 100px 300px 100px;
  width: 95%;
  margin: auto;
  border-bottom: 1px solid lightgray;
}
.home-aboutImg1 {
  grid-row: 1/2;
  background-image: url(/assets/home/mobile/frustrated.jpg);
  background-size: 100% 100%;
}
.home-aboutWU1 {
  grid-row: 2/3;
  font-size: 1.25rem;
}
.home-aboutImg2 {
  grid-row: 3/4;
  background-image: url(/assets/home/mobile/frustrated\ 2.jpg);
  background-size: 100% 100%;
}
.home-aboutWU2 {
  grid-row: 4/5;
  font-size: 1.25rem;
}

.home-aboutImg3 {
  grid-row: 5/6;
  background-image: url(/assets/home/mobile/finished.jpg);
  background-size: 100% 100%;
}
.home-aboutWU3 {
  grid-row: 6/7;
  font-size: 1.25rem;
}
.home-HIWWU {
  padding-top: 10%;
  border-bottom: 1px lightgray solid;
  padding-bottom: 10%;
}
.home-HIWH1 {
  font-size: 2rem;
  text-align: center;
}
.home-HIWWUH3 {
  font-size: 1.5rem;
  text-align: center;
  padding-top: 5%;
}
.home-HIWp {
  font-size: 1.25rem;
  text-align: center;
}
.home-HIWBtn {
  margin-left: 17%;
  width: 60%;
  height: 40px;
  border-radius: 20px;
}
