/* ---------------------------------------
------------------------------------------------------
Shared Nav / footer---------------------------
------------------------------------------------------
---------------------------------------*/
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color: white;
  font-family: "Poppins", sans-serif;
}

.logo {
  color: rgb(224, 224, 224);
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 20px;
  width: 60%;
  height: 60%;
}

.logoTop {
  height: 40%;
  width: 40%;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  width: 40%;
  z-index: 20;
  background-color: white;
}

.nav-links li {
  list-style: none;
  background-color: white;
}

.nav-links a {
  color: black;
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 14px;
  background-color: white;
}

.burger {
  display: none;
  cursor: pointer;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: rgb(224, 224, 224);
  margin: 5px;
  transition: all 0.3 ease;
}

/* -----------------------------------------
      -----------------------------------------
      NAV Functionality-----------
      -----------------------------------------
      -----------------------------------------*/
@media screen and (max-width: 900px) {
  body {
    overflow-x: hidden;
  }

  .nav-links {
    position: absolute;
    right: 0;
    height: 300px;
    top: 8vh;
    /* background-color: #ffffff; */
    background-color: #ccd5ae;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }

  .nav-links li {
    opacity: 0;
  }

  .burger {
    display: block;
  }
}

.nav-active {
  transform: translateX(0%);
}
@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

/* ------------------------------------------
      -----------------------------------------
      End Nav-------------------------------------
      -----------------------------------------
      -----------------------------------------*/
/* 
      Footer
      */
.mainFooter {
  background-color: #eeeff4;
  height: 300px;
  margin-top: 30%;
  display: grid;
  grid-template-columns: 25% 50% 25%;
  grid-template-rows: 25% 75%;
}
.footerLogo-Div {
  margin-top: -55%;
  margin-left: 20%;
  grid-column: 2/3;
  grid-row: 1/2;
  align-self: center;
  width: 35%;
  height: 35%;
  background-color: black;
  /* display: flex;
        align-content: center; */
}
.logoFooter {
  width: 75%;
  height: 75%;
  background-color: black;
  color: white;
  padding: 40%;
  grid-column: 2/3;
  grid-row: 1/2;
  margin: auto;
  align-self: center;
}
.footerLinks {
  grid-row: 2/3;
  grid-column: 2/3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin-right: 20%;
  text-emphasis: none;
  list-style: none;
  margin-top: -10%;
}

/* -------------------------------
    End Footer-----------------------------
    ----------------------------------------*/
/* 
  Begining Mobile
  */
/* html {
  overflow-x: hidden;
} */
.contact-top {
  display: grid;
  grid-template-rows: 55% 45%;
  height: 60vh;
}
.contact-TopImg {
  background-image: url(/assets/about/bnr2-tinted.jpg);
  background-size: 100% 100%;
  grid-row: 1/2;
  text-align: center;
  background-color: blue;
}
.contact-topImgH1 {
  margin-top: 20%;
  font-size: 2rem;
  color: white;
}
.contact-topImgH4 {
  /* margin-top: 20%; */
  font-size: 1.5rem;
  color: white;
  padding-bottom: 10%;
}
.contact-topImgA {
  text-decoration: none;
  color: white;
  margin-top: -50%;
}
.contact-topWU {
  grid-row: 2/3;
}
.contact-topH3 {
  /* padding-top: 5%; */
  text-align: center;
  font-size: 2rem;
}
.contact-topH1 {
  text-align: center;
  width: 90%;
  margin: auto;
  border-bottom: lightgray 1px solid;
  padding-bottom: 10%;
  font-size: 1.5rem;
}
form {
  width: 90%;
  margin: auto;
}
form input {
  width: 100%;
  margin-bottom: 5%;
  height: 30px;
  box-shadow: lightgray;
}
form input::placeholder {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  padding-left: 3%;
}
form textarea {
  width: 100%;
}
form textarea::placeholder {
  font-size: 20px;
  font-family: "Open Sans", sans-serif;
  padding-left: 3%;
}
.contact-formMath {
  text-align: center;
}
.contact-formMathP {
  font-size: 20px;
  font-family: "Open Sans", sans-serif;
}
.contact-contactMath {
  width: 25%;
  font-size: 20px;
}
.contact-submit {
  width: 40%;
  height: 30px;
  margin: 5% auto 10% 30%;
}
.contact-location {
  display: grid;
  grid-template-rows: 50% 50%;
  height: 400px;
}
.contact-map {
  background-image: url(/assets/contact/shared/Screenshot\ 2021-06-17\ 042219.png);
  background-size: 100% 100%;
  height: 400px;
  margin-bottom: 10%;
}
.contact-quickContact {
  width: 90%;
  margin: auto;
  height: min-content;
  display: grid;
  border: 1px lightgray solid;
  grid-template-rows: 20% 80%;
  gap: 10px;
  padding: 5%;
}
.contact-quickContactTop {
  grid-row: 1/2;
  font-family: "Open Sans", sans-serif;
}
.contact-QuickContactBottom {
  margin-top: 10%;
  grid-row: 2/3;
  display: grid;
  grid-template-columns: 30% 70%;
  grid-template-rows: 50% 50%;
}
.contact-QCImg1 {
  grid-column: 1/2;
  grid-row: 1/2;
  width: 30%;
  padding: 10%;
  border: lightgray 1px solid;
  margin-top: 15%;
  margin-left: 15%;
}
.contactQCWU1 {
  grid-column: 2/3;
  grid-row: 1/2;
  font-family: "Open Sans", sans-serif;
}
.contact-QCImg2 {
  grid-column: 1/2;
  grid-row: 2/3;
  width: 30%;
  padding: 10%;
  border: lightgray 1px solid;
  margin-top: 15%;
  margin-left: 15%;
}
.contactQCWU2 {
  grid-column: 2/3;
  grid-row: 2/3;
  font-family: "Open Sans", sans-serif;
}

/* --------------------------------------------------
--------------------------------------------------
SM Tablet--------------------------------------------------
--------------------------------------------------*/

@media (min-width: 600px) {
  .logoTop {
    height: 20%;
    width: 25%;
  }
  footer {
    /* position: absolute; */
    /* bottom: -180; */
    width: 100vw;
    /* height: 100px; */
    /* margin-bottom: -10%; */
  }

  .mainFooter {
    height: 100px;
    /* position: fixed; */
    bottom: 0;
    margin-bottom: -10%;
    grid-template-rows: 100%;
    grid-template-columns: 20% 80%;
    width: 100vw;
    background-color: transparent;
  }
  .footerLogo-Div {
    grid-column: 1/2;
    grid-row: 1/2;
    /* height: fit-content; */
    height: 100%;
    width: 100%;
    position: relative;
    bottom: 0;
    margin-bottom: -55%;
    margin-left: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  .footer-a {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-self: center;
    margin: auto;
    /* padding-left: 20%; */
  }
  .logoFooter {
    height: 25%;
    width: 50%;
    /* margin-top: 1px;
                margin-right: auto; */
    padding: 0;
    background-color: transparent;
    grid-column: 1/2;
    grid-row: 1/2;
    /* margin: 0%; */
    align-self: center;
  }
  .footerLinks {
    grid-column: 2/3;
    grid-row: 1/2;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 0;
    background-color: #eeeff4;
    width: 110%;
    height: 100%;
    margin-right: 25%;
    /* margin-left: -13%; */
    /* padding-right: 20%; */
  }
  .footerBtn {
    grid-column: 3/4;
    grid-row: 1/2;
    height: 65%;
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .contact-firstName,
  .contact-lastName,
  .contact-Email {
    margin-bottom: 2%;
  }
  .contact-topWU {
    clip-path: polygon(
      30% 0%,
      70% 0%,
      100% 0,
      100% 42%,
      50% 100%,
      50% 100%,
      0 42%,
      0 0
    );

    background-color: lightgreen;
    margin-bottom: 5%;
  }
  .contact-bottomWrapper {
    width: 90%;
    margin: auto;
  }
  .contact-submit {
    width: 30%;
    margin: 10% auto 10% 35%;
  }
}

/* --------------------------------------------------
--------------------------------------------------
Lrg Tablet--------------------------------------------------
--------------------------------------------------*/

@media (min-width: 800px) {
  .contact-topImgH1 {
    margin-top: 10%;
  }
  .contact-bottomWrapper {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
    height: 200px;
    width: 90%;
    margin: auto;
  }
  .contact-location {
    grid-column: 2/3;
    display: block;
    height: 100px;
  }
  .contact-quickContact {
    grid-column: 1/2;
    grid-row: 1/2;
    height: 360px;
    margin-top: 0%;
    width: 80%;
  }
}

/* -------------------------------------------------------------
----------------------------------------------------------
Desktop SMish--------------------------------------------
---------------------------------------------------------------*/
@media (min-width: 1000px) {
  .logoTop {
    height: 20%;
    width: 20%;
    max-height: 100px;
    max-width: 150px;
    margin-left: 5%;
  }

  .contact-form {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 16.5% 16.5% 33% 20% 13%;
    gap: 5px;
    height: min-content;
    width: 60%;
    margin: 0% auto 10% auto;
  }
  .contact-firstName {
    grid-column: 1/2;
    grid-row: 1/2;
    width: 90%;
    height: 50%;
    margin-bottom: -15%;
  }
  .contact-lastName {
    grid-column: 2/3;
    grid-row: 1/2;
    width: 90%;
    height: 50%;
    margin-bottom: -15%;
    margin-left: 10%;
  }
  .contact-Email {
    grid-column: 1/2;
    grid-row: 2/3;
    width: 90%;
    height: 50%;
    margin-bottom: -20%;
    margin-top: -10%;
  }
  .contact-Phone {
    grid-column: 2/3;
    grid-row: 2/3;
    width: 90%;
    height: 50%;
    margin-bottom: -20%;
    margin-top: -10%;
    margin-left: 10%;
  }
  .contact-Message {
    grid-column: 1/3;
    grid-row: 3/4;
    margin-top: -5%;
  }
  .contact-formMath {
    grid-column: 1/3;
    grid-row: 4/5;
    width: 20%;
    margin: auto;
  }
  .contact-submit {
    grid-column: 1/3;
    grid-row: 5/6;
    margin-top: 15%;
  }

  .contact-location {
    height: 100px;
  }
  .contact-quickContact {
    height: 350px;
    margin-top: 0%;
  }
}

/*-----------------------------------------------------
-----------------------------------------------------
desktop MD
-----------------------------------------------------
-----------------------------------------------------*/
@media (min-width: 1200px) {
  .contact-top {
    height: 60vh;
    grid-template-rows: 60% 40%;
    border-bottom: none;
  }
  .contact-topWU {
    background-color: lightgreen;
    height: 90%;
    clip-path: polygon(
      30% 0%,
      70% 0%,
      100% 0,
      100% 42%,
      50% 100%,
      50% 100%,
      0 42%,
      0 0
    );
  }
  .contact-topH1 {
    margin-top: -2%;
    /* height: 12vh; */
    /* border-bottom: none; */
    /* width: 100%;
    padding-bottom: 5%;
    clip-path: polygon(
      30% 0%,
      70% 0%,
      100% 0,
      100% 8%,
      48% 100%,
      47% 100%,
      0 8%,
      0 0
    );
    
    background-color: lightgreen; */
  }
  .contact-form {
    margin-top: 0%;
    /* border-top: 1px lightgray solid; */
    /* padding-top: 5%; */
    gap: 10px;
  }
  .contact-firstName,
  .contact-lastName {
    margin-bottom: 5%;
  }
  .contact-submit {
    width: 20%;
    margin: 10% auto;
  }
  .contact-bottomWrapper {
    grid-template-rows: 335px;
    grid-template-columns: 45% 40%;
    margin: 10% 10% -10% 10%;
    gap: 30px;
  }
}

/* 

Desktop Lrg

*/

@media (min-width: 1400px) {
  .contact-topImgH1 {
    margin-top: 5%;
  }
  .contact-topWU {
    height: 90%;
  }
  .contact-topH1 {
    margin-top: -2%;
  }
  .contact-submit {
    width: 20%;
    margin: 10% auto 10% auto;
  }
  /* .contact-bottomWrapper {
    grid-template-rows: 335px;
    grid-template-columns: 45% 40%;
    margin: 10% 10% -10% 10%;
    gap: 30px;
  } */
  .contact-quickContact {
    height: 100%;
  }
  .contact-QuickContactBottom {
    margin-top: 5%;
  }
}

/* 

Desktop larger
*/
@media (min-width: 1600px) {
  .contact-form {
    gap: 20px;
  }
}
