/* ---------------------------------------
------------------------------------------------------
Shared Nav / footer---------------------------
------------------------------------------------------
---------------------------------------*/
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color: white;
  font-family: "Poppins", sans-serif;
}

.logo {
  color: rgb(224, 224, 224);
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 20px;
  width: 60%;
  height: 60%;
}

.logoTop {
  height: 50%;
  width: 60%;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  width: 40%;
  z-index: 20;
  background-color: white;
}

.nav-links li {
  list-style: none;
  background-color: white;
}

.nav-links a {
  color: black;
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 14px;
  background-color: white;
}

.burger {
  display: none;
  cursor: pointer;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: rgb(224, 224, 224);
  margin: 5px;
  transition: all 0.3 ease;
}

/* -----------------------------------------
  -----------------------------------------
  NAV Functionality-----------
  -----------------------------------------
  -----------------------------------------*/
@media screen and (max-width: 900px) {
  body {
    overflow-x: hidden;
  }

  .nav-links {
    position: absolute;
    right: 0;
    height: 300px;
    top: 8vh;
    /* background-color: #ffffff; */
    background-color: #ccd5ae;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }

  .nav-links li {
    opacity: 0;
  }

  .burger {
    display: block;
  }
}

.nav-active {
  transform: translateX(0%);
}
@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

/* ------------------------------------------
  -----------------------------------------
  End Nav-------------------------------------
  -----------------------------------------
  -----------------------------------------*/
/* 
  Footer
  */
.mainFooter {
  background-color: #eeeff4;
  height: 300px;
  margin-top: 30%;
  display: grid;
  grid-template-columns: 25% 50% 25%;
  grid-template-rows: 25% 75%;
}
.footerLogo-Div {
  margin-top: -55%;
  margin-left: 20%;
  grid-column: 2/3;
  grid-row: 1/2;
  align-self: center;
  width: 35%;
  height: 35%;
  background-color: black;
  /* display: flex;
    align-content: center; */
}
.logoFooter {
  width: 75%;
  height: 75%;
  background-color: black;
  color: white;
  padding: 40%;
  grid-column: 2/3;
  grid-row: 1/2;
  margin: auto;
  align-self: center;
}
.footerLinks {
  grid-row: 2/3;
  grid-column: 2/3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin-right: 20%;
  text-emphasis: none;
  list-style: none;
  margin-top: -10%;
}

/* -------------------------------
End Footer-----------------------------
----------------------------------------*/

/* 
Org -> dev
*/

.home-topQuestion {
  background-color: #ccd5ae;
  display: grid;
  height: 100px;
  grid-template-rows: 50% 50%;
  grid-template-columns: 50% 50%;
  width: 95%;
  margin: auto;
}
.home-topQH2 {
  color: #faedcd;
  grid-row: 1/2;
  grid-column: 1/3;
  text-align: center;
  padding-bottom: 5%;
}
.topQBtns {
  background-color: #fefae0;
  grid-row: 2/3;
  height: 70%;
  width: 60%;
  border-radius: 20px;
}
.home-topQBtn1 {
  grid-column: 1/2;
  margin-left: 35%;
}
.home-2 {
  grid-column: 2/3;
  margin-left: 5%;
}
.home-OrgTop {
  display: grid;
  grid-template-rows: 60% 40%;
  height: 60vh;
  width: 95%;
  margin: auto auto 10% auto;
}
.home-OrgTopImg {
  grid-row: 1/2;
  background-image: url(/assets/home/mobile/smiling\ woman.jpg);
  background-size: 100% 100%;
}
.home-OrgTopCTA {
  grid-row: 2/3;
  background-color: rgb(250, 249, 249);
}
.home-OrgTopCTAWU {
  padding: 0% 10% 10% 10%;
}
.home-OrgTopCTAH1 {
  font-size: 1.5rem;
}
.home-OrgTopBtn {
  align-self: center;
  width: 95%;
  height: 40px;
  border-radius: 20px;
}
.home-about {
  display: grid;
  grid-template-rows: 300px 100px 300px 100px 300px 100px;
  width: 95%;
  margin: auto;
  border-bottom: 1px solid lightgray;
}
.home-aboutImg1 {
  grid-row: 1/2;
  background-image: url(/assets/home/mobile/frustrated.jpg);
  background-size: 100% 100%;
}
.home-aboutWU1 {
  grid-row: 2/3;
  font-size: 1.25rem;
}
.home-aboutImg2 {
  grid-row: 3/4;
  background-image: url(/assets/home/mobile/frustrated\ 2.jpg);
  background-size: 100% 100%;
}
.home-aboutWU2 {
  grid-row: 4/5;
  font-size: 1.25rem;
}

.home-aboutImg3 {
  grid-row: 5/6;
  background-image: url(/assets/home/tablet/Finished.jpg);
  background-size: 100% 100%;
}
.home-aboutWU3 {
  grid-row: 6/7;
  font-size: 1.25rem;
}
.home-HIWWU {
  padding-top: 10%;
  border-bottom: 1px lightgray solid;
  padding-bottom: 10%;
}
.home-HIWH1 {
  font-size: 2rem;
  text-align: center;
}
.home-HIWWUH3 {
  font-size: 1.5rem;
  text-align: center;
  padding-top: 5%;
}
.home-HIWp {
  font-size: 1.25rem;
  text-align: center;
}
.home-HIWBtn {
  margin-left: 17%;
  width: 60%;
  height: 40px;
  border-radius: 20px;
}

.home-stats {
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  width: 95%;
  margin: auto;
  /* grid-gap: ; */
  margin-top: 10%;
}
.home-stats1,
.home-stats2,
.home-stats3,
.home-stats4,
.home-stats5 {
  border: lightgray 1px solid;
  text-align: center;
  padding: 5%;
  margin-bottom: 10%;
  border-radius: 10px;
}
.home-statH3 {
  font-size: 1.5rem;
}
.home-statP {
  font-size: 1.2rem;
}
.home-CTASection {
  border-bottom: 1px lightgray solid;
  width: 95%;
  margin-bottom: 10%;
}
.home-CTAH1 {
  font-size: 1.5rem;
  text-align: center;
}
.home-CTABtn {
  width: 80%;
  height: 50px;
  border-radius: 20px;
  margin-top: 10%;
}
.home-contact {
  margin-top: 10%;
  width: 95%;
  margin: auto;
}
.home-contactH2 {
  font-size: 1.5rem;
  text-align: center;
}
.home-contactA {
  text-align: center;
  font-size: 1.2rem;
  margin-left: 35%;
}

/* --------------------------------------------------
--------------------------------------------------
SM Tablet--------------------------------------------------
--------------------------------------------------*/

@media (min-width: 600px) {
  footer {
    /* position: absolute; */
    /* bottom: -180; */
    width: 100vw;
    /* height: 100px; */
    /* margin-bottom: -10%; */
  }

  .mainFooter {
    height: 100px;
    /* position: fixed; */
    bottom: 0;
    margin-bottom: -10%;
    grid-template-rows: 100%;
    grid-template-columns: 20% 80%;
    width: 100vw;
    background-color: transparent;
  }
  .footerLogo-Div {
    grid-column: 1/2;
    grid-row: 1/2;
    /* height: fit-content; */
    height: 100%;
    width: 100%;
    position: relative;
    bottom: 0;
    margin-bottom: -55%;
    margin-left: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  .footer-a {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-self: center;
    margin: auto;
    /* padding-left: 20%; */
  }
  .logoFooter {
    height: 25%;
    width: 50%;
    /* margin-top: 1px;
            margin-right: auto; */
    padding: 0;
    background-color: transparent;
    grid-column: 1/2;
    grid-row: 1/2;
    /* margin: 0%; */
    align-self: center;
  }
  .footerLinks {
    grid-column: 2/3;
    grid-row: 1/2;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 0;
    background-color: #eeeff4;
    width: 110%;
    height: 100%;
    margin-right: 25%;
    /* margin-left: -13%; */
    /* padding-right: 20%; */
  }
  .footerBtn {
    grid-column: 3/4;
    grid-row: 1/2;
    height: 65%;
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .home-HIW {
    width: 80%;
    margin: auto;
  }
  .home-stats {
    grid-template-columns: 50% 50%;
    grid-template-rows: 1fr 1fr 1fr;
  }

  .home-stats1 {
    padding: 10%;
    grid-column: 1/2;
    grid-row: 1/2;
  }
  .home-stats2 {
    padding: 10%;
    grid-column: 2/3;
    grid-row: 1/2;
    margin-left: 5%;
  }
  .home-stats3 {
    padding: 10%;
    grid-column: 1/2;
    grid-row: 2/3;
  }
  .home-stats4 {
    padding: 10%;
    grid-column: 2/3;
    grid-row: 2/3;
    margin-left: 5%;
  }
  .home-stats5 {
    padding: 10%;
    grid-column: 1/3;
    grid-row: 3/4;
    margin-left: 15%;
    width: 50%;
  }
  .home-statH3 {
    font-size: 2rem;
  }

  .home-aboutImg3 {
    background-image: url(/assets/home/tablet/Finished.jpg);
  }

  .home-CTASection {
    margin: auto;
  }
  .home-contactA {
    margin-left: 42%;
  }
}

/* 

Desktop SM
*/

@media (min-width: 800px) {
  .home-OrgTopCTAWU {
    width: 50%;

    margin: -10% auto 10% auto;
    border: lightgray 1px solid;
    padding: 5% 5% 10% 5%;
    z-index: 10;
    background-color: #fefae0;
    border-radius: 15px;
  }
  .home-OrgTopImg {
    z-index: -1;
  }
  .home-about {
    width: 80%;
    margin: auto;
  }
  .home-contact {
    margin-bottom: -20%;
  }
  .home-contactA {
    margin-left: 45%;
  }
}

/* 

Desktop SMish
*/
@media (min-width: 1000px) {
  .home-OrgTop {
    grid-template-columns: 20% 20% 60%;
    grid-template-rows: 100%;
    height: 500px;
  }
  .home-OrgTopCTA {
    grid-column: 1/3;
    grid-row: 1/2;
    z-index: 1;
    width: 75%;
    height: min-content;
    margin-top: 20%;
  }
  .home-OrgTopImg {
    grid-column: 1/4;
    grid-row: 1/2;
    z-index: -1;
  }

  .home-about {
    grid-template-columns: 50% 50%;
    grid-template-rows: 400px 400px 400px;
  }
  .home-aboutImg1 {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  .home-aboutWU1 {
    grid-column: 2/3;
    grid-row: 1/2;
  }
  .home-aboutImg2 {
    grid-column: 2/3;
    grid-row: 2/3;
  }
  .home-aboutWU2 {
    grid-column: 1/2;
    grid-row: 2/3;
  }
  .home-aboutImg3 {
    grid-column: 1/2;
    grid-row: 3/4;
  }
  .home-aboutWU3 {
    grid-column: 2/3;
    grid-row: 3/4;
  }
  .home-aboutWUH1 {
    font-size: 2rem;
    text-align: center;
    padding: 20% 10% 10% 10%;
  }

  .home-HIW {
    display: grid;
    grid-template-columns: 50% 50%;
  }
  .home-HIWImg {
    grid-column: 1/2;
    display: grid;
    padding-top: 45%;
    grid-template-columns: 80%;
    grid-template-rows: 60%;
  }
  .home-HIWWU {
    grid-column: 2/3;
    text-align: left;
  }
  .home-HIWWUH3,
  .home-HIWp {
    text-align: left;
    padding-left: 5%;
  }

  .home-HIWImg1 {
    background-image: url(/assets/home/desktop/job_post.png);
    background-size: 100% 100%;
  }
  .home-HIWImg2 {
    background-image: url(/assets/home/desktop/contact-graphic.png);
    background-size: 100% 100%;
    display: none;
  }
  .home-HIWImg3 {
    background-image: url(/assets/home/desktop/review1.png);
    background-size: 100% 100%;
    display: none;
  }
  .home-HIWImg4 {
    background-image: url(/assets/home/desktop/enjoyment1.png);
    background-size: 100% 100%;
    display: none;
  }
  .on {
    border-left: 3px blue solid;
  }
}
